{% extends "base.html" %}

{% block navigat %}
<!--    <nav>-->
<!--        <ul class="nav nav-pills small">-->
<!--            <li role="presentation" class="{#{ 'active' if active_page == 'search' and active_page_2 == 'maker' else '' }}"><a href="{{ url_for('maker') }#}">Компании</a></li>-->
<!--            <li role="presentation" class="{#{ 'active' if active_page == 'search' and active_page_2 == 'device' else '' }}"><a href="{{ url_for('search.device') }#}">Приборы</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
{% endblock %}
