<div class="row">
    <ul class="pagination pagination-sm text-center">

        {%- if pages.has_prev -%}
        <li>
            <a href="{{ url_for('news', page=pages.prev_num) }}">&laquo;</a>
        </li>
        {%- endif -%}

        {%- for page in pages.iter_pages() -%}
        <li>
            {%- if page -%}
            {%- if page == pages.page -%}
        <li class="active"><a>{{ page }}</a></li>
        {%- else -%}
        <a href="{{ url_for('news', page=page) }}">{{ page }}</a>
        {%- endif -%}
        {%- else -%}
        <a>...</a>
        {%- endif -%}
        </li>
        {%- endfor -%}

        {%- if pages.has_next -%}
            <li>
                <a href="{{ url_for('news', page=pages.next_num) }}">&raquo;</a>
            </li>
        {%- endif -%}

    </ul>
</div>