{% extends "news/_base_news.html" %}
{% set active_page, active_page_2 = "news", "news" %}

{% block content %}
    <h1 class="text-center"><img src="{{ url_for('static', filename = 'images/news.png') }}"> <small> {{ page_name | upper }}</small></h1>
    <hr>

    <div class="text-center">
        {%- if pages.has_next or pages.has_prev -%}
        {%- include 'news/_page_news.html' -%}
        {%- endif -%}
    </div>

    <!-- Контейнер для медиа-объектов -->
    {%- for new in pages.items -%}
    <div class="well" style="border-radius: 0; background-color: #fff">
        <ul class="media-list">
            <li class="media">
                <div class="media-body small">
                <b>{{ new.date_cont }}</b> &nbsp;|&nbsp; <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <a href="{{ url_for('news_category', category=new.category) }}">{{ new.get_category() }}</a>
                    <h4 class="media-heading" title="{{ new.title }}"><a href="{{ url_for('news_content', category=new.category, slug=new.slug) }}">{{ new.title | truncate(80) }}</a></h4>
                    <p>{{ new.clear_html_content() | safe | truncate(350) }}</p>
                </div>
                <div class="media-right">
                    <img class="media-object" style="height: 100px;" src="{{ url_for('static', filename = new.get_image()) }}">
                </div>
            </li>
        </ul>
    </div>
    {% endfor %}

    <div class="text-center">
        {%- if pages.has_next or pages.has_prev -%}
        {% include 'news/_page_news.html' %}
        {%- endif -%}
    </div>

{% endblock %}